.game-board {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: hidden;
}


colgroup {
    border: 3px solid black;
}

td {
    border: 1px solid gray;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 4em;
    width: 1.5em;
    font-size: 1.5em;
    font-weight: bolder;
    color: blue;
}

tr:first-child {
    border-top: 3px solid black;
}

tr:first-child {
    border-top: 3px solid black;
}

tr:nth-child(4) {
    border-top: 3px solid black;
}

tr:nth-child(7) {
    border-top: 3px solid black;
}


td:hover{
    border: 3px solid lightgreen;
}

input {
    text-align: center;
    border: none;
    padding: 0;
    margin: 0;
    width: 1.5em;
    font-size: 1.5em;
    font-weight: bolder;
}
